<!doctype html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - Roam</title>
    {% else %}
    <title>Roam</title>
    {% endif %}
    <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
  </head>
  <body>
    <div class="topnav">
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('explore') }}">Explore</a>
      <a href="{{ url_for('upload') }}">Upload</a>
      <input type="text" placeholder="Search" style="font-size: 17px; padding: 14px 16px; width: 30%; margin-left: 5%;" name="q" form="searchform">
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}" style="float: right;">Login</a>
      {% else %}
      <a href="{{ url_for('user', username=current_user.username) }}" style="float: right;">Profile</a>
      <a href="{{ url_for('logout') }}" style="float: right;">Logout</a>
      {% endif %}
    </div>

    <form action="/search" method="GET" id="searchform"></form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div style="padding-left:16px">
      <br>
    {% block content %}{% endblock %}
    </div>

    {{ moment.include_moment() }}
  </body>
</html>
