{% extends "base.html" %}

{% block content %}
    <style>
        .container {
            width: 360px;
            aspect-ratio: 9 / 20;
            overflow: hidden;
            margin: 0 auto;
        }

        .vid {
            width: 360px;
            aspect-ratio: 9 / 16;
            object-fit: cover;
            object-position: center;
        }
    </style>

    <br>

    {% set video = videos[0] %}
    <div class="container">
        <video class="vid" autoplay loop playsinline controls src="{{ video.filepath }}"></video>
        <p>By <a href="{{ url_for('user', username=video.author.username) }}">{{ video.author.username }}</a>. Posted {{ moment(video.timestamp).fromNow() }}</p>
        <p>{{ video.description | e | link_mentions | safe }}</p>
        <button style="float: left; font-size: xx-large;" onclick="window.location.href='/videos/closest/{{ video.id }}';">Stay</button>
        <button style="float: right; font-size: xx-large;" onclick="window.location.href='/videos/leave/{{ video.id }}';">Leave</button>
        <div id="map" style="position: absolute; top: 20vh; right: 5%; height: 50vh; width: 20vw;"></div>
        <script>
            var map = L.map('map').setView([{{ video.lat }}, {{ video.lon }}], 13);

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker([{{ video.lat }}, {{ video.lon }}]).addTo(map);
        </script>
    </div>
    <br><br><hr><br>
{% endblock %}