{% extends "base.html" %}

{% block content %}
    <style>
        .container {
            width: 360px;
            aspect-ratio: 9 / 21;
            overflow: hidden;
            margin: 0 auto;
        }

        .vid {
            width: 360px;
            aspect-ratio: 9 / 16;
            object-fit: cover;
            object-position: center;
        }
    </style>

    {% set video = videos[0] %}

    <script>
        window.like_video = async function() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.responseText == "Success") {
                        document.getElementById("like_button").disabled = true;
                    }
                }
            };
            xhttp.open("POST", "/api/like/{{video.id}}", true);
            xhttp.send();
        }

        window.share_video = async function() {
            if (navigator.share) {
                try {
                    await navigator.share({
                        title: 'Video shared from Roam',
                        text: 'Check out this video!',
                        url: '{{request.url_root}}videos/{{video.id}}'
                    });
                } catch (err) {
                    alert('Error sharing:', err);
                }
            } else {
                alert('Sharing API not supported in this browser :(');
            }
        }
    </script>

    <div class="container">
        <video class="vid" autoplay loop playsinline controls src="/{{ video.filepath }}"></video>
        <p>By <a href="{{ url_for('user', username=video.author.username) }}">{{ video.author.username }}</a>. Posted {{ moment(video.timestamp).fromNow() }}</p>
        <p style="float: right;">
            <button style="font-size: large;" onclick="like_video()" id="like_button">Like</button>
            <button style="font-size: large;" onclick="share_video()" id="share_button">Share</button>
        </p>

        {% if video.author == current_user %}
        <a href="/videos/analytics/{{video.id}}">Video Analytics</a>
        {% elif not current_user.is_following(video.author) %}
        <p>
            <form action="{{ url_for('follow', username=video.author.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Follow ' + video.author.username) }}
            </form>
        </p>
        {% else %}
        <p>
            <form action="{{ url_for('unfollow', username=video.author.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unfollow ' + video.author.username) }}
            </form>
        </p>
        {% endif %}

        <p>{{ video.description | e | link_mentions | safe }}</p><br><br>
        <button style="float: left; font-size: xx-large;" onclick="window.location.href='/videos/closest/{{ video.id }}';">Stay</button>
        <button style="float: right; font-size: xx-large;" onclick="window.location.href='/videos/leave/{{ video.id }}';">Leave</button>
        <div id="map" style="position: absolute; top: 20vh; right: 5%; height: 50vh; width: 20vw;"></div>
        <script>
            var map = L.map('map').setView([{{ video.lat }}, {{ video.lon }}], 13);

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker([{{ video.lat }}, {{ video.lon }}]).addTo(map);
        </script>
    </div>
{% endblock %}