{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<style>
    body {
        grid-template-columns: none !important;
        display: block !important;
    }
</style>
    <hr>
    {% for video in videos %}
    <a href="/videos/{{video.id}}" style="font-size: large;">{{video.description}}</a><br>
    Views: {{video.view_count()}}<br>
    Likes: {{video.like_count()}}<br>
    <a href="/videos/edit/{{video.id}}">Edit</a>
    <br><hr>
    {% endfor %}
{% endblock %}