{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<style>
    body {
        grid-template-columns: none !important;
        display: block !important;
    }

    table, tr, td {
        border: none;
    }
</style>
    <table>
        {% for row in results|batch(5, none) %}
            <tr>
                {% for video in row %}
                <td><p style="position: absolute; z-index: 1000; color: white; padding-left: 10px; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">► {{video.view_count()}}</p><a href="/videos/{{video.id}}"><video style="height: 50vh; width: auto; filter: blur(2px); aspect-ratio: 9 / 16; object-fit: cover;" src="/{{ video.filepath }}#t=15,20"></video></a></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}