{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            {% if user.profile_picture == None %}
            <td><img src="{{ user.avatar(128) }}"></td>
            {% else %}
            <td><img src="/pfp/{{ user.profile_picture }}/128"></td>
            {% endif %}
            <td>
                <h1>{{ user.username }}</h1>
                {% if user.about_me %}<p id="about_me">{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}

                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }}
                    </form>
                </p>
                {% endif %}
                <button onclick="window.location.href='/chat/{{user.username}}';">DM</button>
            </td>
        </tr>
    </table>
    <hr>
    <table>
    {% for row in videos|batch(5, none) %}
        <tr>
            {% for video in row %}
            <td><p style="position: absolute; z-index: 1000; color: white; padding-left: 10px; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">► {{video.view_count()}}</p><a href="/videos/{{video.id}}"><video style="height: 50vh; width: auto; filter: blur(2px); aspect-ratio: 9 / 16; object-fit: cover;" src="/{{ video.filepath }}#t=15,20"></video></a></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <script src="/static/marked.umd.js"></script>
    <script src="/static/dompurify.min.js"></script>
    <script>
        if (document.getElementById("about_me")) {
            document.getElementById("about_me").innerHTML = DOMPurify.sanitize(marked.parse(document.getElementById("about_me").innerHTML));
        }
    </script>
{% endblock %}