{% extends "base.html" %}

{% block content %}
    <h1>{{video.description}}</h1>

    {% if form %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.coords.label }}<br>
            {{ form.coords(cols=20, rows=4) }}
            {% for error in form.coords.errors %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
            <br><br>
            {{ form.description.label }}<br>
            {{ form.description(cols=20, rows=4) }}
            {% for error in form.description.errors %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
            <br><br>
            {{ form.hashtags.label }}<br>
            {{ form.hashtags(cols=20, rows=4) }}
            {% for error in form.hashtags.errors %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
            <br><br>
            {{ form.privacy_level.label }}<br>
            {{ form.privacy_level }}
            {% for error in form.privacy_level.errors %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
{% endblock %}