<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Roam</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <style>
      tr, td {
        border: none;
      }

      @media screen and (max-width: 1280px) {
        #screenshot_of_video_container {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <nav class="container">
      <ul>
        <li>
          <a href="/">Roam</a>
        </li>
      </ul>
      <ul style="margin-left: auto">
        <li>
          <a href="/register">Sign Up</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    </nav>
    <main class="container">
      <h2>Roam</h2>
      <h1>Swipe and roam across<br>the world</h1>
      <p>Swipe through videos from anywhere<br>in the world</p>
      <br>
      <button onclick="window.location.href='/register';">Sign up</button>
      <img src="/static/map.png" style="position: absolute; right: 1vw; top: 19vh; width: 60vw;">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <p style="text-align: center;">||||</p>
      <br><br><br><br>
      <div style="text-align: center;">
        <h1>Videos.. from <i>anywhere</i> in the world.</h1>
        <h2>Showcasing different</h2>
        <h3>cultures</h3>
        <h3>voices</h3>
        <h3>people</h3>
        <br><br>
        <h2>Swipe & roam to see their differences.</h2>
        <br>
        <button onclick="window.location.href='/register';">Sign up</button>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div style="position: absolute; left:10vw;" id="screenshot_of_video_container">
        <img src="/static/screenshot_video.png" style="width: 32vw; opacity: 0.8; filter: blur(0.3px) saturate(170%); border-radius: 1%;" id="screenshot_of_video">
      </div>
      <div style="float: right;">
        <h1>Features</h1>
        <p>A few of our most popular features.</p>
        <table>
          <tr>
            <td><h3>Comments</h3>Provide feedback, opinions, and<br>express yourself on people's videos</td>
            <td><h3>Likes</h3>Show your appreciation by<br>giving a video a like</td>
          </tr>
          <tr>
            <td><h3>Direct Messages</h3>Engage in private conversations</td>
            <td><h3>Filters</h3>Perfect your videos with filters</td>
          </tr>
        </table>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div style="float: right;">
        <br><br><br><br>
        <ul>
          <li>Free to join, you can easily delete your account</li>
          <li>No ads</li>
          <li>Privacy is taken seriously, your data is not sent or sold to 3rd parties</li>
          <li>Experience diverse countries' cultures</li>
        </ul>
      </div>
      <h1>Ready to start your Roam journey?</h1>
      <br>
      <button onclick="window.location.href='/register';">I'm ready</button>
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
      <hr>
      <p style="text-align: center; font-size: 18px;"><i>Uniting the world with a social media application.</i><br>Copyright 2026 Roam. Any use of the name or logo is completely fine.<br><a href="https://github.com/VeryUsual/roam" style="text-decoration: none;" target="_blank">Licensed under the GNU AGPL</a>, free for anyone, anywhere.</p>
      <br>
    </main>
  </body>
</html>
