<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Roam</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <nav class="container">
      <ul>
        <li>
          <a href="/">Roam</a>
        </li>
      </ul>
      <ul style="margin-left: auto">
        <li>
          <a href="/register">Sign Up</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    </nav>
    <main class="container">
      <h2>Roam</h2>
      <h1>Swipe and roam across<br>the world</h1>
      <p>Swipe through videos from anywhere<br>in the world</p>
      <br>
      <button onclick="window.location.href='/register';">Sign up</button>
      <img src="/static/map.png" style="position: fixed; right: 1vw; top: 19vh; width: 60vw;">
    </main>
  </body>
</html>
